.word {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;

}
.letter {
    margin-left: 1vw;
    background-color: black;
    color: black;
    width: 4vw;
    height: 4vw
}

.word-letter {
    width: 7vw;
    height: 7vw;
    border: 1px solid black;
    text-align: center;
    font-size: 5vw;
}

#letters-remained {
    display:block;
    height: 10vh;
}