html {
  height: 97%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  border: 1vw outset silver;
  width: 30vw;
  height: 30vw;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-grow: 1;
}

.row:nth-child(even) {
  flex-direction: row-reverse;
}

section>div {
  flex-grow: 1;
  border: none;
}

section>div:nth-child(odd) {
  background-color: black;
}

